<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.cef.interfaces.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.cef.interfaces.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.EquipmentDataParameters"
		pathToImage="resources/icons/EquipmentDataParameters.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.DataInterfaceTypes"
		pathToImage="resources/icons/DataInterfaceTypes.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.AInterfaceEnd"
		pathToImage="resources/icons/AInterfaceEnd.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.PowerInterfaceEnd"
		pathToImage="resources/icons/PowerInterfaceEnd.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.DataInterfaceEnd"
		pathToImage="resources/icons/DataInterfaceEnd.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.AInterface"
		pathToImage="resources/icons/AInterface.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.PointToPointInterface"
		pathToImage="resources/icons/PointToPointInterface.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.BusInterface"
		pathToImage="resources/icons/BusInterface.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.cef.interfaces.DataInterfaceTypeCollection"
		pathToImage="resources/icons/DataInterfaceTypeCollection.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddEquipmentDataParameters"
		name="Add EquipmentDataParameters">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypes"
		name="Add DataInterfaceTypes">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPowerInterfaceEnd"
		name="Add PowerInterfaceEnd">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceEnd"
		name="Add DataInterfaceEnd">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPointToPointInterface"
		name="Add PointToPointInterface">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddBusInterface"
		name="Add BusInterface">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypeCollection"
		name="Add DataInterfaceTypeCollection">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddEquipmentDataParameters"
	      disabledIcon="resources/icons/EquipmentDataParameters_disabled.gif"
	      icon="resources/icons/EquipmentDataParameters.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypes"
	      disabledIcon="resources/icons/DataInterfaceTypes_disabled.gif"
	      icon="resources/icons/DataInterfaceTypes.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPowerInterfaceEnd"
	      disabledIcon="resources/icons/PowerInterfaceEnd_disabled.gif"
	      icon="resources/icons/PowerInterfaceEnd.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceEnd"
	      disabledIcon="resources/icons/DataInterfaceEnd_disabled.gif"
	      icon="resources/icons/DataInterfaceEnd.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPointToPointInterface"
	      disabledIcon="resources/icons/PointToPointInterface_disabled.gif"
	      icon="resources/icons/PointToPointInterface.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddBusInterface"
	      disabledIcon="resources/icons/BusInterface_disabled.gif"
	      icon="resources/icons/BusInterface.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypeCollection"
	      disabledIcon="resources/icons/DataInterfaceTypeCollection_disabled.gif"
	      icon="resources/icons/DataInterfaceTypeCollection.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.handler.AddEquipmentDataParametersHandler"
		commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddEquipmentDataParameters">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.handler.AddDataInterfaceTypesHandler"
		commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypes">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.handler.AddPowerInterfaceEndHandler"
		commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPowerInterfaceEnd">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.handler.AddDataInterfaceEndHandler"
		commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceEnd">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.handler.AddPointToPointInterfaceHandler"
		commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPointToPointInterface">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.handler.AddBusInterfaceHandler"
		commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddBusInterface">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.handler.AddStructuralElementInstanceDataInterfaceTypeCollectionHandler"
		commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypeCollection">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.cef.interfaces.menu" 
		        label="CEF Data and Interfaces"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.cef.interfaces.gif"
		        tooltip="Concept for Functional Interface Architecture in CEF">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.cef.interfaces.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddEquipmentDataParameters"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypes"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPowerInterfaceEnd"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceEnd"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddPointToPointInterface"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddBusInterface"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.cef.interfaces.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.command.AddDataInterfaceTypeCollection"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetEquipmentDataParameters"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableEquipmentDataParameters">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetEquipmentDataParameters"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionEquipmentDataParameters">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetDataInterfaceTypes"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableDataInterfaceTypes">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetDataInterfaceTypes"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionDataInterfaceTypes">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetPowerInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTablePowerInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetPowerInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionPowerInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetDataInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableDataInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetDataInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionDataInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetPointToPointInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTablePointToPointInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetPointToPointInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionPointToPointInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetBusInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableBusInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetBusInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionBusInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetBusInterfaceConectedInterfaceEnds"
		      section="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableBusInterfaceConectedInterfaceEnds">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.ui.decorators">
	     <decorator
            class="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.decorator.InterfaceEndQuantityKindDecorator"
            id="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.decorator.ifeQuantityKind"
            label="CEF IFE Quantity Kind"
            lightweight="true"
            state="true">
	        <enablement>
	           <objectClass
	                 name="de.dlr.sc.virsat.model.dvlm.categories.CategoryAssignment">
	           </objectClass>
	        </enablement>
	     </decorator>
	</extension>
	
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3b.data"
	          topRanking="330">
	    </editorSection>
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
	          topRanking="360">
	    </editorSection>
	 </extension>
	 
	 <extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		
		<!-- Data related extensions -->
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetEquipmentDataParameters"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3b.data"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableEquipmentDataParameters">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetEquipmentDataParameters"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3b.data"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionEquipmentDataParameters">
		</uiSnippet>
		
		<!-- Interface realted data -->
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetPowerInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTablePowerInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetPowerInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionPowerInterfaceEnd">
		</uiSnippet>
		
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetDataInterfaceTypes"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableDataInterfaceTypes">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetDataInterfaceTypes"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionDataInterfaceTypes">
		</uiSnippet>
		
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetDataInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableDataInterfaceEnd">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetDataInterfaceEnd"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionDataInterfaceEnd">
		</uiSnippet>
		
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetPointToPointInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTablePointToPointInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetPointToPointInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionPointToPointInterface">
		</uiSnippet>
		
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetBusInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableBusInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.section.uiSnippetBusInterface"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetSectionBusInterface">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.cef.interfaces.table.uiSnippetBusInterfaceConectedInterfaceEnds"
		      section="de.dlr.sc.virsat.model.extension.cef.ui.section.phase3c.interfaces"
		      snippet="de.dlr.sc.virsat.model.extension.cef.interfaces.ui.snippet.UiSnippetTableBusInterfaceConectedInterfaceEnds">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
