<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<?pde version="3.8"?><target name="targetForReferences" sequenceNumber="1">
		<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="de.dlr.sc.virsat.target.feature.feature.group" version="0.0.0"/>
		<repository location="https://sourceforge.net/projects/virtualsatellite/files/VirtualSatellite4-Core/development/"/>
		</location>
		</locations>
		<environment>
		<os></os>
		<ws></ws>
		<arch></arch>
		<nl></nl> 
		</environment>
		<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/"/>
		</target>
